// Margin
// Usage shorthand: @include margin(top right bottom left);
// Example shorthand: @include margin(1px 2px 3px 4px);
// Usage longhand: @include margin-all(top, right, bottom, left);
// Example longhand: @include margin-all(1px, 2px, 3px, 4px);
// --------------------------------------------------

// Margin shorthand version
@mixin margin($margin) {
  margin: $margin;
}

// Margin longhand version
@mixin margin-all($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}
